<template>
  <v-row justify="center">
    <v-dialog v-model="dialog" persistent max-width="70%">
      <template v-slot:activator="{ on }">
        <v-btn color="success" dark v-on="on">Add new</v-btn>
      </template>
      <v-card>
        <v-form>
          <v-container>
            <v-row>
              <v-col md="6">
                <v-col cols="12" md="12">
                  <v-text-field v-model="addItemsData.name" :counter="20" label="Название" required></v-text-field>
                </v-col>
                <v-col cols="12" md="12">
                  <v-text-field
                    v-model="addItemsData.descseo"
                    :counter="170"
                    label="Описание для SEO"
                    required
                  ></v-text-field>
                </v-col>
                <v-col cols="12" md="12">
                  <v-text-field
                    v-model="addItemsData.keyseo"
                    :counter="170"
                    label="Keywords SEO"
                    required
                  ></v-text-field>
                </v-col>
                <v-col cols="12" md="12">
                  <v-select :items="typePic" v-model="addItemsData.type" label="Тип"></v-select>
                </v-col>
              </v-col>
              <v-col md="6">
                <v-col cols="12" md="12">
                  <v-text-field v-model="addItemsData.price" :counter="6" label="Цена" required></v-text-field>
                </v-col>
                <v-col cols="12" md="12">
                  <v-file-input
                    v-model="addItemsData.images"
                    placeholder="Загрузите изображение"
                    label="Изображение"
                    multiple
                    prepend-icon="mdi-paperclip"
                  >
                    <template v-slot:selection="{ text }">
                      <v-chip small label color="primary">{{ text }}</v-chip>
                    </template>
                  </v-file-input>
                </v-col>
                <v-col md="12">
                  <v-textarea
                    v-model="addItemsData.desc"
                    clearable
                    clear-icon="mdi-cancel"
                    label="Описание картины"
                  ></v-textarea>
                </v-col>
              </v-col>
            </v-row>
            <v-row></v-row>
          </v-container>
        </v-form>
        <v-card-actions>
          <div class="flex-grow-1"></div>
          <v-btn color="green darken-1" text @click="dialog = false">Cansel</v-btn>
          <v-btn color="green darken-1" text @click="onAdd">Create</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>

<script>
import db from "~/plugins/firebase";

export default {
  data() {
    return {
      dialog: false,
      items: [],
      typePic: ["Масло", "другие"],
      addItemsData: {
        name: "",
        itemId: "",
        descseo: "",
        keyseo: "",
        price: "",
        type: "",
        images: [],
        desc: ""
      }
    };
  },
  created() {
    this.getItems();
  },
  methods: {
    getItems() {
      db.collection("raw-art-home")
        .get()
        .then(querySnapshot => {
          const items = [];
          querySnapshot.forEach(doc => {
            items.push(doc.data());
          });
          this.items = items;
        });
    },
    onAdd() {
      db.collection("raw-art-home")
        .add(this.addItemsData)
        .then(this.getItems);
    }
  }
};
</script>
