<template>
  <v-container fluid>
    <v-data-iterator
      :items="items"
      :items-per-page.sync="itemsPerPage"
      :page="page"
      :search="search"
      :sort-by="sortBy.toLowerCase()"
      :sort-desc="sortDesc"
      hide-default-footer
    >
      <template v-slot:header>
        <v-toolbar dark color="blue darken-3" class="mb-1">
          <v-text-field v-model="search" clearable flat solo-inverted hide-details label="Search"></v-text-field>
          <template>
            <div class="flex-grow-1"></div>

            <v-dialog v-model="dialogAdd" persistent max-width="70%">
              <template v-slot:activator="{ on }">
                <v-btn color="success" class="mr-3" dark v-on="on">Add new</v-btn>
              </template>
              <v-card>
                <v-form>
                  <v-container>
                    <v-row>
                      <v-col md="6">
                        <v-col cols="12" md="12">
                          <v-file-input
                            v-model="addItemsData.imageMain"
                            placeholder="Главная картинка"
                            label="Главная"
                            prepend-icon="mdi-paperclip"
                          >
                            <template v-slot:selection="{ text }">
                              <v-chip small label color="primary">{{ text }}</v-chip>
                            </template>
                          </v-file-input>
                        </v-col>
                        <v-col cols="12" md="12">
                          <v-text-field v-model="addItemsData.id"></v-text-field>
                          <v-text-field
                            v-model="addItemsData.name"
                            :counter="20"
                            label="Название"
                            required
                          ></v-text-field>
                        </v-col>
                        <v-col cols="12" md="12">
                          <v-text-field
                            v-model="addItemsData.descseo"
                            :counter="170"
                            label="Описание для SEO"
                            required
                          ></v-text-field>
                        </v-col>
                        <v-col cols="12" md="12">
                          <v-text-field
                            v-model="addItemsData.keyseo"
                            :counter="170"
                            label="Keywords SEO"
                            required
                          ></v-text-field>
                        </v-col>
                        <v-col cols="12" md="12">
                          <v-select :items="typePic" v-model="addItemsData.type" label="Тип"></v-select>
                        </v-col>
                      </v-col>
                      <v-col md="6">
                        <v-col cols="12" md="12">
                          <v-text-field
                            v-model="addItemsData.price"
                            :counter="6"
                            label="Цена"
                            required
                          ></v-text-field>
                        </v-col>
                        <v-col cols="12" md="12">
                          <v-file-input
                            v-model="addItemsData.imagesSrc"
                            placeholder="Загрузите изображение"
                            label="Изображение"
                            multiple
                            prepend-icon="mdi-paperclip"
                          >
                            <template v-slot:selection="{ text }">
                              <v-chip small label color="primary">{{ text }}</v-chip>
                            </template>
                          </v-file-input>
                        </v-col>
                        <v-col md="12">
                          <v-textarea
                            v-model="addItemsData.desc"
                            clearable
                            clear-icon="mdi-cancel"
                            label="Описание картины"
                          ></v-textarea>
                        </v-col>
                      </v-col>
                    </v-row>
                    <v-row></v-row>
                  </v-container>
                </v-form>
                <v-card-actions>
                  <div class="flex-grow-1"></div>
                  <v-btn color="green darken-1" text @click="dialogAdd = false">Cansel</v-btn>
                  <v-btn color="green darken-1" text @click="onAdd">Create</v-btn>
                </v-card-actions>
              </v-card>
            </v-dialog>
            <v-btn-toggle v-model="sortDesc" mandatory>
              <v-btn large depressed color="blue" :value="false">
                <v-icon>mdi-arrow-up</v-icon>
              </v-btn>
              <v-btn large depressed color="blue" :value="true">
                <v-icon>mdi-arrow-down</v-icon>
              </v-btn>
            </v-btn-toggle>
          </template>
        </v-toolbar>
      </template>

      <template v-slot:default="props">
        <v-layout row wrap column>
          <v-flex v-for="item in props.items" :key="item.id">
            <v-layout row wrap align-center class="px-6 py-2">
              <v-flex md2>
                <div>{{item.id}}</div>
                <v-img :src="item.imageMainSrc" />
              </v-flex>
              <v-flex md4 class="flex justify-center">
                <v-card-title class="subheading font-weight-bold">{{ item.name }}</v-card-title>
                <v-card-text>{{item.desc}}</v-card-text>
              </v-flex>
              <v-flex md2>
                <v-list-item-content>{{ item.type }}</v-list-item-content>
              </v-flex>
              <v-flex md2>
                <v-list-item-content>{{ item.price }} рублей</v-list-item-content>
              </v-flex>
              <v-flex md2>
                <v-dialog v-model="dialogEdit" persistent max-width="70%">
                  <template v-slot:activator="{ on }">
                    <v-btn color="success" class="mr-3" dark v-on="on" @click="onEdit(item)">Edit</v-btn>
                  </template>
                  <v-card>
                    <v-form>
                      <v-container>
                        <v-row>
                          <v-col md="6">
                            <v-col cols="12" md="12">
                              <v-text-field v-model="editItemsData.id"></v-text-field>
                              <v-text-field
                                v-model="editItemsData.name"
                                :counter="20"
                                label="Название"
                                required
                              ></v-text-field>
                            </v-col>
                            <v-col cols="12" md="12">
                              <v-text-field
                                v-model="editItemsData.descseo"
                                :counter="170"
                                label="Описание для SEO"
                                required
                              ></v-text-field>
                            </v-col>
                            <v-col cols="12" md="12">
                              <v-text-field
                                v-model="editItemsData.keyseo"
                                :counter="170"
                                label="Keywords SEO"
                                required
                              ></v-text-field>
                            </v-col>
                            <v-col cols="12" md="12">
                              <v-select :items="typePic" v-model="editItemsData.type" label="Тип"></v-select>
                            </v-col>
                          </v-col>
                          <v-col md="6">
                            <v-col cols="12" md="12">
                              <v-text-field
                                v-model="editItemsData.price"
                                :counter="6"
                                label="Цена"
                                required
                              ></v-text-field>
                            </v-col>
                            <v-col cols="12" md="12">
                              <v-file-input
                                v-model="editItemsData.imagesSrc"
                                placeholder="Загрузите изображение"
                                label="Изображение"
                                multiple
                                prepend-icon="mdi-paperclip"
                              >
                                <template v-slot:selection="{ text }">
                                  <v-chip small label color="primary">{{ text }}</v-chip>
                                </template>
                              </v-file-input>
                            </v-col>
                            <v-col md="12">
                              <v-textarea
                                v-model="editItemsData.desc"
                                clearable
                                clear-icon="mdi-cancel"
                                label="Описание картины"
                              ></v-textarea>
                            </v-col>
                          </v-col>
                        </v-row>
                        <v-row></v-row>
                      </v-container>
                    </v-form>
                    <v-card-actions>
                      <div class="flex-grow-1"></div>
                      <v-btn color="green darken-1" text @click="dialogEdit = false">Cansel</v-btn>
                      <v-btn color="green darken-1" text @click="onEditSubmit(item)">Confirm</v-btn>
                    </v-card-actions>
                  </v-card>
                </v-dialog>

                <v-btn color="error" @click="onDelete(item.id)">delete</v-btn>
              </v-flex>
            </v-layout>
            <v-divider></v-divider>
          </v-flex>
        </v-layout>
      </template>

      <template v-slot:footer>
        <v-row class="mt-2" align="center" justify="center">
          <span class="grey--text">Items per page</span>
          <v-menu offset-y>
            <template v-slot:activator="{ on }">
              <v-btn dark text color="primary" class="ml-2" v-on="on">
                {{ itemsPerPage }}
                <v-icon>mdi-chevron-down</v-icon>
              </v-btn>
            </template>
            <v-list>
              <v-list-item
                v-for="(number, index) in itemsPerPageArray"
                :key="index"
                @click="updateItemsPerPage(number)"
              >
                <v-list-item-title>{{ number }}</v-list-item-title>
              </v-list-item>
            </v-list>
          </v-menu>

          <div class="flex-grow-1"></div>

          <span class="mr-4 grey--text">Page {{ page }} of {{ numberOfPages }}</span>
          <v-btn fab dark color="blue darken-3" class="mr-1" @click="formerPage">
            <v-icon>mdi-chevron-left</v-icon>
          </v-btn>
          <v-btn fab dark color="blue darken-3" class="ml-1" @click="nextPage">
            <v-icon>mdi-chevron-right</v-icon>
          </v-btn>
        </v-row>
      </template>
    </v-data-iterator>
  </v-container>
</template>

<script>
import fb from "~/plugins/firebase";
const db = fb.firestore();
export default {
  data() {
    return {
      dialogAdd: false,
      dialogEdit: false,
      items: [],
      typePic: ["Масло", "другие"],
      itemsPerPageArray: [4, 8, 12],
      search: "",
      filter: {},
      sortDesc: false,
      page: 1,
      itemsPerPage: 4,
      sortBy: "name",
      keys: ["images", "name", "type", "price"],
      items: [],
      addItemsData: {
        name: "",
        id: null,
        descseo: "",
        keyseo: "",
        price: "",
        type: "",
        imageMain: null,
        imageMainSrc: "",
        imagesSrc: [],
        desc: ""
      },
      editItemsData: {
        id: null,
        name: "",
        descseo: "",
        keyseo: "",
        price: "",
        type: "",
        imageMain: null,
        imageMainSrc: "",
        imagesSrc: [],
        desc: ""
      }
    };
  },
  computed: {
    numberOfPages() {
      return Math.ceil(this.items.length / this.itemsPerPage);
    },
    filteredKeys() {
      return this.keys.filter(key => key !== `Name`);
    }
  },
  created() {
    this.getItems();
  },
  methods: {
    async getItems() {
      try {
        const result = await db.collection("raw-art-home").get();
        this.items = [];
        result.forEach(doc => {
          const item = doc.data();
          console.log(item);
          this.items.push(item);
        });
      } catch (err) {
        console.error(err);
      }
    },
    async onAdd() {
      const data = {
        name: this.addItemsData.name,
        descseo: this.addItemsData.descseo,
        keyseo: this.addItemsData.keyseo,
        price: this.addItemsData.price,
        desc: this.addItemsData.desc,
        imageMainSrc: "",
        imagesSrc: [],
      };

      try {
        // Записать в бд запись
        const item = await db.collection("raw-art-home").add(data);
        console.log(item);
        const id = item.id;

        // Сохраняем файл на хостинг
        const file = this.addItemsData.imageMain;
        const fileExt = file.name.slice(file.name.lastIndexOf("."));
        const fileData = await fb.storage().ref(`home/image_${id}_${Date.now()}.${fileExt}`).put(file);

        // получаем ссылку на сохраненный файл
        const imageSrc = await fileData.ref.getDownloadURL();

        // получаем документ и записываем в него ссылку на файл
        const itemRef = await db.collection("raw-art-home").doc(id);
        itemRef.update({imageMainSrc: imageSrc});

        // обработка картинок
        this.addItemsData.imagesSrc.forEach(async (item, index) => {
          const ext = item.name.slice(item.name.lastIndexOf("."));
          const fileDatas = await fb.storage().ref(`home/image_${id}_${Date.now()}.${ext}`).put(item);
          const src = await fileDatas.ref.getDownloadURL();
          itemRef.update({imagesSrc: fb.firestore.FieldValue.arrayUnion(src)});
        });

        this.getItems()
      } catch (err) {
        console.error(err)
        throw new Error(err)
      }
      this.dialogAdd = false;
    },
    onDelete(id) {
      db.collection("raw-art-home")
        .where("id", "==", id)
        .get()
        .then(querySnapshot => {
          querySnapshot.forEach(doc => {
            doc.ref.delete().then(this.getItems);
          });
        });
    },
    onEdit(item) {
      (this.editItemsData.name = item.name),
        (this.editItemsData.id = item.id),
        (this.editItemsData.descseo = item.descseo),
        (this.editItemsData.keyseo = item.keyseo),
        (this.editItemsData.price = item.price),
        (this.editItemsData.type = item.type),
        (this.editItemsData.imagesSrc = item.imagesSrc),
        (this.editItemsData.des = item.desc);
    },
    onEditSubmit() {
      db.collection("raw-art-home")
        .where("id", "==", this.editItemsData.id)
        .get()
        .then(querySnapshot => {
          querySnapshot.forEach(doc => {
            doc.ref
              .set({
                id: this.editItemsData.id,
                name: this.editItemsData.name,
                descseo: this.editItemsData.descseo,
                keyseo: this.editItemsData.keyseo,
                price: this.editItemsData.price,
                type: this.editItemsData.type,
                imagesSrc: this.editItemsData.imagesSrc,
                desc: this.editItemsData.desc
              })
              .then(this.getItems);
          });
        });
      this.dialogEdit = false;
    },
    nextPage() {
      if (this.page + 1 <= this.numberOfPages) this.page += 1;
    },
    formerPage() {
      if (this.page - 1 >= 1) this.page -= 1;
    },
    updateItemsPerPage(number) {
      this.itemsPerPage = number;
    }
  }
};
</script>

<style>
</style>
