<template>
  <v-card>
    <v-card-title>
      Nutrition
      <div class="flex-grow-1"></div>
      <v-text-field
        v-model="search"
        append-icon="mdi-account-search"
        label="Поиск"
        single-line
        hide-details
      ></v-text-field>
    </v-card-title>
    <!-- <v-data-table :headers="headers" :items="desserts" :search="search"></v-data-table> -->
    <v-simple-table>
      <thead>
        <tr>
          <th v-for="itemhead in headers" :key="itemhead.value" class="text-left">{{itemhead.text}}</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="item in desserts" :key="item.name" :search="search">
          <!-- <v-img src="../img/developer.jpg"></v-img> -->
          <td>
            <v-img max-width="150px" :src="item.image"></v-img>
          </td>
          <td>{{ item.name }}</td>
          <td>{{ item.type }}</td>
          <td>{{ item.price }}</td>
        </tr>
      </tbody>
    </v-simple-table>
  </v-card>
</template>

<script>
export default {
  data() {
    return {
      search: "",
      headers: [
        { text: "Изображение", value: "image" },
        { text: "Название", value: "name" },
        { text: "Тип", value: "type" },
        { text: "Цена", value: "price" },
        { text: "Изменить", value: "edit" },
        { text: "Удалить", value: "delete" }
      ],
      desserts: [
        {
          image: "../img/1.jpeg",
          name: "Название 1",
          type: "Масло",
          price: 35000
        },
        {
          image: "../img/2.jpeg",
          name: "Название 2",
          type: "Масло",
          price: 25000
        },
        {
          image: "../img/3.jpeg",
          name: "Название 3",
          type: "Масло",
          price: 30000
        }
      ]
    };
  }
};
</script>

<style>
</style>
